
@{
    ViewBag.Title = "History";
}


<div class="main">
    <h2>Your History Record</h2>
    <p>All perfomance and salary change</p>
    
    <div class="row">
        <div class="col-md-20">
            <table class="table table-bordered" style="font-size: large">
                <thead style="background-color: #9a3324;">
                    <tr style="color: white">
                        <th>New Salary</th>
                        <th>Old Salary</th>
                        <th>Perfomance Rate</th>
                        <th>Position</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>60000</td>
                        <td>55000</td>
                        <td>SC+</td>
                        <td>Customer Service</td>
                        <td>1-20-2020</td>
                    </tr>
                    <tr>
                        <td>55000</td>
                        <td>48000</td>
                        <td>EC</td>
                        <td>Custoemr Service</td>
                        <td>1-21-2019</td>
                    </tr>
                    <tr>
                        <td>48000</td>
                        <td>45000</td>
                        <td>SC-</td>
                        <td>Customer Service</td>
                        <td>1-20-2018</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
