
@{
    ViewBag.Title = "Overview";
}
<div class="main">
    <h2>Your Employee Overview</h2>
    <p style="text-align: right"><a class="btn btn-default" href="">Edit &raquo;</a></p>
    <div class="row">
        <div class="col-md-20">
            <table class="table table-bordered" style="font-size: large">
                <thead style="background-color: #9a3324;">
                    <tr style="color: white">
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Perceding PR</th>
                        <th>Projected PR</th>
                        <th>Projected</th>
                        <th>Actual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Smith</td>
                        <td>John</td>
                        <td>SC+</td>
                        <td>SC</td>
                        <td>58000</td>
                        <td>56000</td>
                    </tr>
                    <tr>
                        <td>Lee</td>
                        <td>Jennifer</td>
                        <td>EC</td>
                        <td>SC-</td>
                        <td>45000</td>
                        <td>42000</td>
                    </tr>
                    <tr>
                        <td>Chen</td>
                        <td>Daniel</td>
                        <td>EC</td>
                        <td>NI</td>
                        <td>58000</td>
                        <td>56000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

